# Changelog:
#
# 06-24-2020
#
# add emacs autosave files to .gitignore as well.
#
# 06-23-2020
#
# initial creation. added ./build, __pycache__, and .ipynb_checkpoints ignores.

/build
**/__pycache__
**/.ipynb_checkpoints
**/*~