# Changelog:
#
# 06-26-2020
#
# added ./dist and ./shizuka.egg-info (thanks setuptools) to .gitignore
#
# 06-24-2020
#
# add emacs autosave files to .gitignore as well.
#
# 06-23-2020
#
# initial creation. added ./build, __pycache__, and .ipynb_checkpoints ignores.

/build
/dist
/shizuka.egg-info
**/__pycache__
**/.ipynb_checkpoints
**/*~